.header {
  background-color: #5D1BF2; /* Ngày sinh đổi ra hex : 6/10/2002 */
  font-weight: 600;
  color: white;
  padding: 8px 16px;
}
.menu-2{
  margin-top: 6px;
}
.text-center {
  text-align: center;
}
  
.form-wrapper {
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 16px;
}
  
.aside {
  padding-left: calc(6px * 2); /*  Ngày sinh : 6/10/2002  */
}
.btn{
  margin-top: 1rem;
}